
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'neue_pixel_sansregular';
    font-weight: normal;
    font-style: normal;

}
body  {
    background-color:#286749 ;
}
.image {
  height: 400px;
}

.title {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
}

a
h1, h2, h3, h4, p {
    font-family: 'neue_pixel_sansregular', sans-serif;
}

.markdown-body {
   background: rgba(255, 255, 255,.1);
   height: 100%;
   font-family: 'neue_pixel_sansregular', sans-serif;
   src: local('neue_pixel_sansregular'), url(/fonts/neue-pixel-sans-regular.ttf) format('ttf');
   
}


a.header-anchor {
    display:none;
}

a {
  @apply underline
}

h1 {
  @apply font-bold text-3xl mb-5
}

p {
  @apply text-2xl
}